*{
    box-sizing: border-box;
}
body,html{
    overflow-x: hidden;
    margin: 0;
    font-family: "Open Sans", serif;
}
header{
    width: 100%;
    height: 80px;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.hicon{
    width: 64px;
    height: 35px;    
    margin-top: 19px;
    margin-left: 67px;
    margin-bottom: 20px;
}
.hinput{
    width: 649px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
}
.Search-icon{
    width: 649px;
    height: 50px;
    border: 2px solid #D02A53;
    border-radius: 5px;
    padding: 5px;
    margin-left: 120px;   
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.Search-icon input{
    width: 649px;
    outline: none;
    border: none;
}
.Search-icon i{
    font-size: 17px;
    padding: 10px;
}
.cart{
    width: 26px;
    height: 15px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    text-decoration: none;
    color: #121212;
}
.cartwale{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    
}
.icart{
    width: 24px;
    height: 24px;
}
.iconcart{
    display: flex;
    width: 60px;
    height: 33px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.iconwale{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 21px;
    gap: 10px;
    
}
.iwale{
    width: 23px;
    height: 22px;
}
.wale{
    width: 52px;
    height: 20px;
}
.drop{
    margin-left: 5px;
    margin-top: 22px;
}
.topdeal{
    width: 87px;
    height: 27px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.24px;
    color: #121212;
}
.shop-by-category{
    width: 215px;
    height: 33px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    color: #000000;
}
.explore{
    width: 226px;
    height: 27px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.24px;
    color: #121212;
}
.Recommendation{
    width: 228px;
    height: 33px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    color: #000000;
}
.sidebar{
    width: 223px;
    height: 1024px;
    border: 1px solid #F7F7FA;
    
}
.side-up{
    margin-bottom: 150px;
}
.popular{
    width: 134px;
    height: 22px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    list-style-type: none;
    margin-bottom: 20px;
}
.popular a{
    text-decoration: none;
    color: #121212;
    
}
.explore-new{
    width: 104px;
    height: 22px;
    font-size: 16px;
    font-weight: 800;
    line-height: 21.79px;
    list-style-type: none;
    margin-bottom: 20px;
}
.explore-new a{
    text-decoration: none;
    color: #E92F5D;
}
.last-order{
    width: 90px;
    height: 22px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px; 
    list-style-type: none;
    margin-bottom: 20px;
}
.last-order a{
    text-decoration: none;
    color: #121212;
}
.order{
    width: 66px;
    height: 19px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    list-style-type: none;
    margin-bottom: 20px;
}
.order a{
    text-decoration: none;
    color: #121212;
}
.log-out{
    display: flex;
    align-items:center;
    gap: 5px;
    margin-top: 180px;
}
.log{
    width: 24px;
    height: 24px;
    margin-left: 37px;
    
}
.out{
    width: 61px;
    height: 19px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    color: #E92F5D;
    text-decoration: none;
}
.gridcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 80px;
    width: Hug (1,069.53px)px;
    column-gap: 15px;
    row-gap: 50px;
    
}
.side-2{
    margin-right: 100px;
}
.first{
    width: 197.63px;
    height: 216.14px;
    
}
.first:hover .hoverrr{
    margin-top: -50px;
    opacity: 1;
}
.item{
    width: 219px;
    height: 15px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.34px;
    color: #121212;
}
.price{
    width: 197.63px;
    height: 13px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16.34px;
    letter-spacing: 0.02em;
    color: #000000;
}
.All{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.more{
    width: 44px;
    height: 22px;  
    font-size: 16px;
    font-weight: 800;
    line-height: 21.79px;
    margin-left: 48%;
    margin-bottom: 150px;

}
.more a{
    color: #E92F5D;  
}
.add-t-cart{
    width: 80px;
    height: 25px;
    font-size: 10px;
    text-align: center;
    font-weight: 600;
    line-height: 13.62px;
    background-color: #E92F5D;
    color: #fff;
    border-radius: 5px;
    padding: 5px ;
    text-decoration: none;
}
.eye{
    width: 32.94px;
    height: 22.77px;
    background-color: #fff;
    border-radius: 5px;
}
.eyes{
    width: 17px;
    height: 17px;
}

.hoverrr{
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    opacity: 0;
    transition: 0.3s ease;
}
.product{
    position: relative;
     overflow: hidden;
}
.gridcategory{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
    width: Hug (1,069.53px)px;
}
.four-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
    height: Hug (421px)px;
}
.imgexplore{
    width: 400.09px;
    height: 413px;
}
.textd{
    margin-left: 20px;
}
.wrap{
    display: flex;
    /* align-content: center; */
    align-items: self-end;
    justify-content: center;
}
.Appliances{
    width: 90px;
    height: 22px;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.79px;
    color: #E92F5D;
    
}
.img-appliances{
    width: 130px;
    height: 180px;
    
}

.top-quality{
    width: 160px;
    height: 28px;
    font-size: 10px;
    font-weight: 600;
    line-height: 13.62px;
    
}
.shop-now{
    width: 66px;
    height: 16px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16.34px;
    color: #000000;
}
.grid-card{
    width: Fixed (245px)px;
    height: 198px;
    background-color: #F7F7FA;
    border-radius: 30px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
.bottom-left {
    position: absolute;
    bottom: 15px;
    left: 25px;
    font-size: 24px;
    font-weight: 800;
    line-height: 32.68px;
    color: #ffffff;    
  }
  .bottom-leftp{
    position: absolute;
    bottom: 50px;
    left: 25px;
    font-size: 24px;
    font-weight: 800;
    line-height: 32.68px;
    color: #ffffff;  
  }
.bag-img{
    width: 467px;
    height: 413px;    
}
.gridproduct{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.fashion{
    width: 55px;
    height: 19px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    color: #000000;
}
.Elegant{
    width: 569px;
    height: 44px;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.79px;
    color: #000000;
}
.elevate{
    width: 540px;
    height: 126px;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #000000;
}
.naira{
    width: 131px;
    height: 18px;
    font-size: 32px;
    font-weight: 700;
    line-height: 18px;
    color: #000000;
}
.add-t0-cart{
    width: 573px;
    height: 60px;
    border-radius: 10px;
    background-color: #E92F5D;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.add-t0-cart-text {
    width: 80px;
    height: 19px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    color: #ffffff;
    text-decoration: none;
}
.zila{
    width: 244px;
    height: 102px;  
}
.onlineshop{
    width: 338px;
    height: 70px;
    font-family: Istok Web;
    font-size: 36px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
.zillaimg{
   width: 100%;
   padding: 0;
   margin: 0;
   
}
.forms{
    width: 491px;
    height: Hug (368px)px;  
}
.register{
    width: 63px;
    height: 19px;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.07px;
    color: #FFFFFF;   
}
.reg{
    background-color: #D02A53;
    width: 491px;
    height: 60px;
    border-radius: 10px ;
    border: 1px solid #D02A53;
    text-align: center;
    align-content: center; 
    margin-top: 20px;
}
.plogin{
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    color: #D02A53;

}

.undreg{
    height: 19px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    text-align: center;
    margin-top: 10px;

}

.logdisplay{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
.container {
    position: relative;
    background-image: linear-gradient(rgba(36,19,23,0.8),rgba(36,19,23,0.8)),url("/assets/images/backgrnd\ img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100%);
    border-radius: 10px;
  }
.Createacc{
    width: 246px;
    height: 44px;
    font-size: 32px;
    font-weight: 700;
    line-height: 43.58px;
    color:#000000;
    margin-bottom: 100px;  
}
input{
    width: 491px;
    height: 50px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #C0BED6;
    margin-bottom: 20px;
    margin-top: 10px;
}
label{
    width: 85px;
    height: 22px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    color: #000000;  
    
}
.Create-form{
    padding: 100px;
}
.Create-form a{
    text-decoration: none;
}
.mask{
    width: 100px;
    height: 70px;
}
.maskp{
    width: 208px;
    height: 63px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    color: #000000; 
    text-align: left;
}
table{
    width: 100%;
    border-collapse: collapse;  
}

th, td {
    border-bottom: 20px solid #fff;
    text-align: center;
    padding: 8px;
    width: 25%;
}
tr{
    width: 1063px;
    height: 100px;
}
.greybox{
    width: 581px;
    height: 380px;
    background-color: #F7F7FA;
    color: #121212;
    padding-top: 50px;
    padding-left: 50px;
    
}
.pinkbutton{
    width: 343px;
    height: 60px;
    border-radius: 10px;
    background-color: #E92F5D;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
}
.pinkbutton a{
    width: 170px;
    height: 22px;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.79px;
    text-decoration: none;
    color: #FFFFFF;
}
.greybutton{
    width: 343px;
    height: 60px;
    border-radius: 10px;
    background-color: #EEEEF3;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.greybutton a{
    width: 170px;
    height: 22px;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.79px;
    text-decoration: none;
    color: #121212;
}
.boxflex1{
    display: flex;
    width: Fixed (210px)px;
    height: Hug (22px)px;
    gap: 100px;
}
.boxflex2{
    display: flex;
    width: Fill (499px)px;
    height: Hug (47px)px;
    gap: 100px;
    
    
}
.boxflex3{
    display: flex;
    width: Fixed (210px)px;
    height: Hug (22px)px;
    gap: 100px;
    
}
.cartgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.subtotal{
    width: 66px;
    height: 22px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    color: #121212;         
}
.addr{
    width: 64px;
    height: 22px;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.79px;
    color: #121212;
}
.address{
    width: 347px;
    height: 22px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    color: #121212;    
}
.numb{
    border: none;
    width: 60px;
}